.menu {
	list-style: none;
	padding: 0;
	background-color: rgb(43, 120, 228);
	width: 70%;
	max-width: 800px;
	margin: auto;
	position: sticky;
}
.news_img {
	width: 30rem;
	margin: auto;
	display: block;
	padding-top: 1rem;
}