$SocialBar: rgb(6, 66, 118);
$Cabecera: rgb(43, 120, 228);
$Subtitle: rgb(159, 197, 248);
$FieldBorder:rgba(0, 0, 0, 0);
$BkTextBox: rgba(230, 230, 230, 0.6);
$HoverTb: rgba(0, 0, 0, 0.1);
$FocuasTb:rgba(30,85,250,0.47);